
<% if @clip.document.nil? %>
  <h1><%= @clip.title %></h1>
  <div class="text">
    <%= clip_info @clip %><br/>
  </div>
  <p><%= @clip.description %></p>
<% elsif -%>
  <h1><%= @clip.document.title %></h1>
  <div class="text">
      <%= clip_info @clip %><br/>
    </div>
  <div class="body text">
    <%= @clip.document.body %>
  </div>
  <% form_tag({:controller => 'cyl', :action => 'update_tags', :id => @clip}, :id => 'update_tags') do %>
    <%= field_help "Ayúdanos a organizar el contenido: ¡etiqueta tu també!" %>
    <%= field_text 'Etiquetas', :clip, :tags, :value => @clip.tag_list %>
    <%= field_submit 'Guarda etiquetas', :update_tags %>
  <% end -%>
  <h2>Respuestas</h2>
    <% form_tag({:controller => 'cyl', :action => 'create_response', :id => @clip}, :id => 'create_response') do %>
    <%= field_area 'Respuesta', :clip, :response %>
    <%= field_submit 'Enviar respuesta', :create_response %>
  <% end -%>
<% end -%>

