<h1>Labores de administraci칩n</h1>

<%= flash_div :notice %>

<h2>A침adir un grupo nuevo</h2>
<% form_tag( {:action => 'create_group'}, :id => 'create_group' ) do -%>
  <%= flash_div :error %>
  <%= field_text 'Nombre:', :group, :name, :validate => [:not_empty] %>
  <%= field_text 'Descripci칩n:', :group, :description, :validate => [:not_empty] %>
  <%= field_submit 'Crear grupo', :create_group %>
<% end -%>

<h2>A침adir un miembro a (la web de) crestas y lechugas</h2>
<% form_tag :action => 'create_member' do -%>
  <%= flash_div :error %>
  <%= field_text 'Nombre:', :user, :name %>
  <%= field_text 'Email:', :user, :email %>
  <%= field_submit 'Crear', :create_member %>
<% end -%>