<h1><%= @group.name %></h1>

<p class="text"><%= @group.description %></p>

<% if @group.gak?  %>
  <% form_tag do %>
    <%= field_info 'Número de cestas', 0 %>
  <% end -%>
<% end -%>

<h2>Mensajes a este grupo</h2>
<%= render :partial => '/clips/list', :object => @group.clips %>

<h2>Personas en este grupo</h2>
<% for user in @group.users %><%= link_to user.name, user, :class => 'button' %><% end -%>