
<h1><%= @user.name %></h1>
<% form_tag({:action => 'update', :id => @user.id}, :method => 'put', :id => 'update_user') do %>
  <%= field_text 'Nombre', :user, :name, :value => @user.name %>
  <%= field_text 'Email', :user, :email, :value => @user.email %>
  <%= field_text 'Móvil', :user, :movil, :value => @user.movil %>
  <%= field_text 'Fijo', :user, :fijo, :value => @user.fijo %>
  <%= field_submit 'Modificar', :update_user, user_path(@user) %>
<%  end -%>
