<h1>Crear una entrada de blog</h1>

<% form_tag( {:action => 'blog_create'}, :id => 'blog_create') do -%>
  <%= field_hidden :clip, :content_type, 'blog' %>
  <%= field_help "El título es... el título" %>
  <%= field_text 'Título', :blog, :title, :validate => [:not_empty] %>
  <%= field_help t(:dialect_help) %>
  <%=  field_select t(:dialect), :blog, :dialect, Document::DIALECTS %>
  <%= field_area 'Contenido',  :blog, :body %>
  <%= field_submit 'Crear entrada', :blog_create, :back %>
<% end -%>