
<h3><%= link_to "Hoy es #{fecha Time.now}", :action => 'calendar', :month => nil, :year => nil %></h3>
<h1><%= link_to '-', calendar_action(@cal, -1), :class => 'button' %> <%= mes(@cal[:month]) %> del <%= @cal[:year] %>
<%= link_to '+', calendar_action(@cal, 1), :class => 'button' %></h1>

<% monthly(@cal) do |month, date| -%>
  <% if date.month == month -%>
    <%= link_to date.day, {:action => 'event_new', :date => date.to_db},
      :class => 'button new_event' %>
    <% for event in Clip.find_all_by_date(date.to_db) do %>
        <%= link_to event.description, {:action => 'show_event', :id => 'event'}, :class => 'event' %>
      <% end -%>

<%= link_to 'Huerta: 0 peonadas', {}, :class => 'event peonadas' %>
 
    <% end -%>
  <% end -%>

