<h1>Pónete una contraseña</h1>

<% form_tag( {:action => 'change_password'}, :id => 'change_password') do %>
  <%= flash_div :error %>
  <%= field_help 'Por favor, no te pongas el nombre como contraseña, ánda...' %>
  <label>Tu nueva contraseña:</label><%= password_field_tag :pass %><br/>
  <label>Repítela, plis:</label><%= password_field_tag :pass2 %><br/>
  <%= field_submit 'Cambiar contraseña', :change_password %>
<% end -%>

