<h1>Subir un fichero</h1>

<% form_tag({:action => 'upload_create'}, :id => 'upload_create', :html => {:multipart => 'true'}) do -%>
  <%= field_hidden :clip, :content_type,  'file' %>
  <%= field_info t(:from), @current.name %>
  <%= field_help t(:from_group_help) %>
  <%= field_select t(:from_group), :clip, :group_id, Group.all.collect {|p| [ p.name, p.id ] } %>
  <%= field_help 'Recibirán este mensaje las personas integrantes del grupo al que lo envías. Ni más ni menos :)' %>
  <%= field_select 'Para', :clip, :recipient_id, Group.all.collect {|p| [ p.name, p.id ] }   %>
  <%= field_help t(:file_help) %>
  <%= field_file  t(:file), :document, :file %>
  <%= field_help t(:help_upload_desc) %>
  <%= field_area 'Descripción', :document, :body %>
  <%= field_help t(:help_tags) %>
  <%= field_text 'Etiquetas', :clip, :tags %>
  <%= field_submit 'Subir fichero', :upload_create %>
<% end -%>