

<h1>Crear un mensaje</h1>

<% form_tag(@document) do %>
  <%= field_text 'Título', :clip, :title %>
  <%= field_text 'Descripción', :clip, :description %>
  <%= field_select 'Destinatario', :message, :recipiet, Group.all.collect {|p| [ p.name, p.id ] } %>
  <%= text_area_tag :body, nil, :id => 'editor' %>
  <%= field_submit 'Enviar mensaje', :new_doc %>
<% end %>


<% content_for :header do -%>
  <%= stylesheet_link_tag javascript_path 'jwysiwyg-0.4/jquery.wysiwyg.css'   %>
  <%= javascript_include_tag 'jwysiwyg-0.4/jquery.wysiwyg.pack'  %>
  <script type="text/javascript">
    $(function() {
      $('#editor').wysiwyg({
        controls : {
          separator04 : { visible : true },

          insertOrderedList : { visible : true },
          insertUnorderedList : { visible : true }
        }
      });
    });
  </script>
<% end %>