<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Crestas y lechugas - <%= yield(:title) || "Movimiento de huerta sin tierras" %></title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <%= javascript_include_tag 'jquery.valida.js'  %>
    <%= stylesheet_link_tag 'simplex' %>
    <%= yield :header %>
    <style type="text/css">html {background-color: <%= ucolor %>;}</style>
  </head>
  <body>
    <div class="page">
      <% user_area do -%>
        <div class="navigation">
          <%= link_to @current.name, cyl(:dashboard) %>
        <%= link_to 'Blog', :controller => 'cyl', :action => 'blog' %>
          <%= link_to 'Calendario', :controller => 'cyl', :action => 'calendar' %>
          <%= link_to 'Mensajes', :controller => 'cyl', :action => 'message' %>
          <%= link_to 'Mediateca', :controller => 'cyl', :action => 'mediateca' %>

          <%= link_to 'Gente', users_path %><%= link_to 'Grupos', groups_path %>
          <%= link_to 'Clips', clips_path %>
          <div class="login">hola, <%= link_to @current.name, :controller => 'cyl', :action => 'dashboard' %>.
            <%= link_to('Eres administrador. ', :controller => 'admin' ) if @current.admin %>
            <%= link_to 'Salir', :controller => 'cyl', :action => 'logout' %></div>
        </div>
      <% end -%>
      <div class="content"><%= yield %></div>
    </div>
  </body>
</html>
